<div class="container">
<mat-card class="card" style="max-width: 500px; min-width: 500px; width: 80vw;">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="login">
      <div class="row">
<mat-form-field appearance="fill" class="w-100">
<mat-label>Email Id</mat-label>
<input matInput placeholder="Emailid" formControlName="email" required>
</mat-form-field>
</div>
<div class="row">
<mat-form-field appearance="fill" class="w-100">
  <mat-label>Password</mat-label>
<input matInput placeholder="password" formControlName="password" required>
</mat-form-field>
</div>
<div class="row">
<button mat-raised-button color="primary">Login</button>
</div>
<div class="row text-center mt-4">
<p>New User? <a (click)="movetoregister()">Register Here</a></p>
</div>
</form>
</mat-card-content>
</mat-card>
</div>